*{
  font-family: 'Lato', sans-serif;
}

.contaniner-carrusel {
  height: 350px;

}
.carrusel {
  margin-left: 7em;
}

.carrusel figure {
  display: inline-block;
}

.orbit-slide {
  width: 230px; }
  .orbit-slide.no-motionui.is-active {
    top: 0;
    left: 0; }

.orbit-figure {
  width: 230px;
  height: 230px;
}

.orbit-previous,.orbit-next {
  color: #494949;
  font-size: 2.3em;

}
.orbit-previous:hover, .orbit-next:hover, .orbit-previous:focus, .orbit-next:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #c0c2c4;
  outline: none;
}

.orbit-previous:active, .orbit-next:active {
  background-color: rgba(255, 255, 255, 0);
  color: #ff0000;
}

.color-inherit {
  color: inherit;
}

.color-inherit:hover {
  text-decoration: underline;
  color: inherit;
}

.title {
  width: 100%;

}

.display-toggle {
  display: none;
}


footer a {
  color: inherit;
}

footer a:hover {
  color: #808080;
}

.foot-cont {
  max-width: 100%;
}

.align-toggle {
  justify-content: center;
}

@media screen and (min-width: 64em)  {
  .display-toggle {
    display: inline-block;
  }

  .align-toggle {
    justify-content: flex-start;
  }

  .title-bar {
    padding: 0.5rem 7rem;
  }
}

@media screen and (min-width: 40em)  {
  .display-toggle {
    display: inline-block;
  }

/*Header-nav*/
a{
  color: #494747;
}
nav li,
.color-grey,
.off-canvas {
  background-color: #F2F2F2;
}
a.accordion-title.noplus:before{
  content: none;
}
a.accordion-title:before{
  color: #000;
  font-size: 1.5rem;
}
.li-unstyle{
  list-style: none;
}
.categories,
.categories:focus,
.categories:hover{
  color: #000;
  font-size: 0.9rem;
}
.subcategories{
  font-size: 0.8rem;
}
.accordion-title{
  padding: 0.9rem 1rem;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
}
.accordion-content{
  border: 0;
}
.extra-padding{
  padding: 1.3rem 1rem;
}
/*.d-flex{
  display: flex;
}*/
.c-gray{
  color: #9B9B9B;
}
.bg-gray{
  background-color: #9B9B9B;
}
.pd-0{
  padding: 0 !important;
}
.p-abs{
  position: absolute;
}
.p-lf-32{
  padding-left: 2rem;
}
#logo{
    height: 25px;
    width: 64px;
}

@media (max-width: 1023px) and (min-width: 601px){
  #logo {
    height: 33px;
    width: 84px;
  }
}
@media (min-width: 1024px){
  #logo{
    height: 39px;
    width: 99px;
  }
