
/*Product*/
#polo-gato:hover{
  background-image: url(../);
}
#polo-flor:hover{
background-image:
}
#polo-rayas:hover{
background-image:
}
#polo-mosaico:hover{
back
}
#polo-manchas:hover{

}
#bvd-manchas:hover{

}
#polo-negro:hover{

}
#bvd-negro:hover{

}
#polo-botanico:hover{

}
